<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Create Account</h1>
        </nav>
        
        <form action="/userCreate" method="post">
            <h2>Welcome!</h2>
            <input type="email" name="email" placeholder="Email Address" required><br><br>
            <input type="submit" value="Create User">
        </form>
            
    </body>
</html>