<!DOCTYPE html>
<html>
<head>
    <title>Create Announcement</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Create Announcement</h1>
        </nav>
        
        <form action="/announcements/createAnnouncement" method="post">
            <h2>Welcome!</h2>
            <input type="text" name="title" placeholder="Title" required><br><br>
            <input type="text" name="body" placeholder="Body" required><br><br>
            <input type="submit" value="Create Announcement">
        </form>
            
    </body>
</html>