<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Create Account</h1>
        </nav>
        
        <form action="/users/createUser" method="post">
            <h2>Welcome!</h2>
            <input type="text" name="name" placeholder="Name" required><br><br>
            <input type="email" name="email" placeholder="Email Address" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <input type="text" name="phoneNumber" placeholder="01XXXXXXXX" pattern="[0-9]{10, 11}" required><br><br>
            <input type="text" name="company" placeholder="Company" required><br><br>
            <input type="submit" value="Create User">
        </form>
            
    </body>
</html>