<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Home</h1>
        </nav>
        
        <a href="/users/createUser">Create a User Account</a><br>
        <a href="/users/loginUser">Login to User Account</a><br>

        <a href="/admins/createAdmin">Create an Admin Account</a><br>
        <a href="/admins/loginAdmin">Login as Admin</a><br>

        <a href="/rooms/createRoom">Create a Room</a><br>
            
    </body>
</html>