<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Home</h1>
        </nav>
        
        <a href="/users/createUser">Create a User Account</a><br>
        <a href="/admins/createAdmin">Create an Admin Account</a><br>
        <a href="/users/loginUser">Login to User Account</a><br>
        <!-- <a href="/admins/loginAdmin">Create an Admin Account</a><br> -->
            
    </body>
</html>