<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
    <body>

        <nav class="topnav">
            <h1>Home</h1>
        </nav>
        
        <a href="/users/userCreate">Create a User Account</a>
            
    </body>
</html>