* {
    font-family: Arial, Helvetica, sans-serif;
    color: #212529;
    box-sizing: border-box; /* Prevent Overflow */
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.navbar {
    display: flex;
    background-color: #212529;
    padding: 1.1rem;
    justify-content: space-between;
}
.navbar span {
    font-size: 1.2rem;
    color: white;
}
.navbar div {
    display: flex;
    gap: 1.6rem;
}
.navbar a {
    font-size: 1.2rem;
    color: #989D9E;
    transition: 0.3s;
}
.navbar a.active, .navbar a:hover {
    color: #DAE5E5;
}

/* Landing Page Header */
.landing-header {
    background-image: url('wp-ship.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.landing-header a {
    background-color: #212529;
    border-radius: 24px;
    cursor: pointer;
    width: fit-content;
    color: white;
    padding: 1rem;
    transition: 0.3s;
}
.landing-header a:hover {
    background-color: #33393F;
}

/* Form for login and signup */
.account-main {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.account-form {
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 1rem;
    width: 600px;
    background-color: white;
    box-shadow: 0px 5px 10px #999999;
}
.account-form h1 {
    align-self: center;
    text-align: center;
}
.account-form label {
    display: inline-block;
    padding: .3rem;
    font-size: 1rem;
}
.account-form input {
    align-self: center;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    width: 100%;
    padding: .6rem;
    font-size: 1rem;
    background-color: #F2F2F2;
}
.account-form input[type=submit] {
    background-color: #0D6EFD;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.account-form input[type=submit]:hover {
    background-color: #0B5ED7;
}
.account-form input[type=submit]:active {
    background-color: #094599;
}

/* Signup button under login */
.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.signup-section a {
    background-color: #0D6EFD;
    cursor: pointer;
    color: white;
    border-radius: 16px;
    padding: .5rem 1rem;
    margin-top: 16px;
    transition: 0.3s;
}
.signup-section a:hover {
    background-color: #0B5ED7;
}
.signup-section a:active {
    background-color: #094599;
}

/* Return to previous page */
.back-header {
    display: flex;
}
.back-header a {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.1rem;
    cursor: pointer;
}

/* Dashboard Info Display */
.dashboard-body header {
    border: 1px solid blue;
    padding: 2rem;
    text-align: center;
}
.dashboard-body main {
    padding: 4rem 6rem;
    display: flex;
    flex-direction: column;
}
.dashboard-body h1 {
    color: #0D6EFD;
}
.dashboard-body table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.dashboard-body th, .dashboard-body td {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.dashboard-body tr:nth-child(even) {
    background-color: #f2f2f2;
}
.dashboard-body a {
    align-self: center;
    border-radius: 8px;
    background-color: #0D6EFD;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: 1rem;
    margin: 3.6rem;
}
.dashboard-body a:hover {
    background-color: #0B5ED7;
}
.dashboard-body a:active {
    background-color: #094599;
}

/* Reservation Page */
.reservation-main {
    padding: 2rem 6.4rem;
}
.reservation-main h1 {
    color: #0D6EFD;
}
.reservation-main p {
    text-align: center;
}

.reservation-top {
    display: flex;
    gap: 20px;
    align-items: stretch;
}

/* Reservation - User Input */
.user-input {
    flex: 1;
    flex-direction: column;
}
.user-input label {
    display: block;
    padding: .3rem;
    font-size: .9rem;
    margin-top: 1rem;
}
.user-input select, .user-input input[type=date] {
    display: block;
    align-self: center;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
    width: 100%;
    padding: .4rem;
    font-size: 1rem;
    background-color: #F2F2F2;
}

/* Reservation - Room Info */
.room-info {
    border: 1px solid hotpink;
    flex: 2;
    display: block;
    padding: 3rem;
}
.room-info h2, .room-info p {
    border: 1px solid midnightblue;
    text-align: left;
}

/* Reservation - Submit Button */
.reservation-main input[type=submit] {
    display: block;
    border: none;
    background-color: #0D6EFD;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: .6rem;
    font-size: 1.2rem;
    width: 50%;
    border-radius: 8px;
    margin: 2rem auto 0 auto;
}
.reservation-main input[type=submit]:hover {
    background-color: #0B5ED7;
}
.reservation-main input[type=submit]:active {
    background-color: #094599;
}

.week-loader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.week-loader button {
    border: none;
    border-radius: 8px;
    background-color: #0D6EFD;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    padding: .5rem;
}
.week-loader button:hover {
    background-color: #0B5ED7;
}
.week-loader button:active {
    background-color: #094599;
}

.timetable {
    width: 100%;
    border: 1px solid red;
    text-align: center;
    font-size: 1rem;
}
.timetable th {
    border: 1px solid blue;
    height: 2rem;
}
.timetable td {
    height: 2rem;
    font-weight: bold;
}